* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

#app {
  padding: 15px;
  margin: 40px auto;
  min-width: 500px;
  max-width: 1024px;
  height: 600px;
  outline: 3px dashed orangered;
}

#app div {
  margin: 20px;
  padding: 15px;
}

#navigation {
  outline: 3px dashed blue;
}

#shopping-cart {
  outline: 3px dashed darkgreen;
}

#search {
  outline: 3px dashed cadetblue;
}

#products {
  outline: 3px dashed darkmagenta;
}
