* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

#app {
  position: relative;
  padding: 15px;
  margin: 40px auto;
  min-width: 500px;
  max-width: 1024px;
  height: 600px;
  outline: 3px dashed orangered;
}

#navigation {
  width: 45%;
  position: absolute;
  left: 0;
  outline: 3px dashed orangered;
  margin: 20px;
  padding: 15px;
}

#navigation .red-cat-item {
  font-size: 13px;
  padding: 8px 9px;
  border: 1px solid lightgray;
  margin-right: 5px;
}

#navigation .red-cat-item:hover,
#navigation .red-cat-item.active {
  cursor: pointer;
  background-color: #eee;
}

#search {
  width: 45%;
  position: absolute;
  right: 0;
  outline: 3px dashed blue;
  margin: 20px;
  padding: 15px;
}

#details {
  height: 400px;
  width: 70%;
  position: absolute;
  left: 0;
  top: 100px;
  outline: 3px dashed darkmagenta;
  margin: 20px;
  padding: 15px;
}

#shopping-cart {
  height: 400px;
  width: 20%;
  position: absolute;
  right: 0;
  top: 100px;
  outline: 3px dashed darkgreen;
  margin: 20px;
  padding: 15px;
}
